<app-navbar></app-navbar>

<div class="home-container">

    <div class="hero">

        <h1>Welcome to Flat Radar</h1>

        <p>

            Search, Rent and Manage Flats Easily.

        </p>

        <button>

            Explore Flats

        </button>

    </div>

</div>

<section class="features">

    <div class="card">

        <h2>🏠 Flats</h2>

        <p>
            Browse thousands of verified flats.
        </p>

    </div>

    <div class="card">

        <h2>👨‍👩‍👧 Owners</h2>

        <p>
            Contact owners directly.
        </p>

    </div>

    <div class="card">

        <h2>📍 Tenants</h2>

        <p>
            Find genuine tenants.
        </p>

    </div>

</section>